<form class='mt-4' method='POST' name='container-form' action='/courses/handle-dropdown-action'>
  <table class='table mt-4'>
    <div>
      <h3>My Courses</h3>

      <div class="input-group mb-3 mt-4">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" id="checkbox-all">
          </div>
        </div>

        <select id="dropdown-action" class="checkbox-select-all-options custom-select" name="action" required>
          <option value=''>Choose action...</option>
          <option value="remove">Remove</option>
        </select>

        <div class="input-group-append">
          <button id="apply-btn" type="button" class="btn btn-primary disabled">Apply</button>
        </div>
      </div>

    </div>
    <thead>
      <tr>
        <th scope='col'></th>
        <th scope='col'>#</th>
        <th scope='col'>Course 
            {{{sortable 'name' _sort}}}
        </th>
        <th scope='col'>Video ID</th>
        <th scope='col'>Created At
            {{{sortable 'createdAt' _sort}}}
        </th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}{{! start loop }}
        <tr>
          <td>
          <div class="form-check">
            {{!-- When click on apply, name="courseIds[]" & value="{{this._id}}" will be sent to Form Data --}}
            <input type="checkbox" class='form-check-input' name="courseIds[]" value="{{this._id}}">
          </div>
          </td>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.videoId}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href='/courses/{{this._id}}/edit'
              class='btn btn-primary'
            >Edit</a>
            <a
              href=''
              class='btn btn-danger'
              data-toggle='modal'
              data-target='#delete-course-modal'
              {{! Pass id directly to the modal }}
              data-id='{{this._id}}'
            >Remove</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            No course to display.
            <a href="/courses/create">Add new course</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! Confirm delete modal }}
<div
  class='modal fade'
  id='delete-course-modal'
  tabindex='-1'
  role='dialog'
  aria-labelledby='#delete-course-modal'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Remove Course</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        Are you sure you want to remove this course?
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'
        >Cancel</button>
        <button id='delete-dialog-confirm-btn' type='button'  class='btn btn-danger'>Yes, delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden delete form --}}
{{!-- We do like this to not have multiple forms wraping around
multiple remove buttons --}}
<form method='POST' name='delete-course-form'>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    /******************* DEAL WITH REMOVING COURSES *****************/
    let courseId
    // get delete-course-form DOM object:
    let deleteForm = document.forms['delete-course-form']
    let confirmBtn = document.querySelector('#delete-dialog-confirm-btn')

    // Remove btn clicked (show dialog):
    $('#delete-course-modal').on('show.bs.modal', function (event) { 
      var button = $(event.relatedTarget) 
      courseId = button.data('id')
    })

    // Dialog confirm btn clicked:
    confirmBtn.onclick = () => {
      deleteForm.action = `/courses/${courseId}?_method=DELETE`
      deleteForm.submit()
    }

    /****************** "Select all" with checkbox *****************/
    let checkboxAll = $('#checkbox-all')
    let courseItemCheckbox = $('input[name="courseIds[]"]')
    let applyBtn = $('#apply-btn')
    let containerForm = document.forms['container-form']
    let dropdownAction = $('#dropdown-action')
    
    // Checkbox all changed:
    checkboxAll.change(function() {
      let isCheckedAll = $(this).prop('checked') // checked property of JQuery
      courseItemCheckbox.prop('checked', isCheckedAll)
      enableApplyBtn()
    })

    // Course item checkbox changed:
    courseItemCheckbox.change(function() {
      // we compare length of all checkbox with checkbox already checked
      // to see if they are equal.
      // if yes, isCheckedAll = true
      // if no, isCheckedAll = false
      let isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', isCheckedAll)
      enableApplyBtn()
    })

    // Enable Apply button:
    function enableApplyBtn() {
      return $('input[name="courseIds[]"]:checked').length > 0
      ? applyBtn.removeClass('disabled') : applyBtn.addClass('disabled')
    }

    // Disable clicking Apply button when it is disabled:
    applyBtn.click(function(e) {
      e.preventDefault()

      let isSubmittable = !$(this).hasClass('disabled')
      if (isSubmittable) {
        if (dropdownAction.val() == '') {
          alert("Please select an option!");
        } else {
          // click on apply to submit containerForm:
          containerForm.submit()
        }
      }
    })

    // Validate that dropdownAction is selected:
  })
</script>