<div class='mt-4'>
  <table class='table mt-4'>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Course</th>
        <th scope='col'>Video ID</th>
        <th scope='col'>Created At</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}{{! start loop }}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.videoId}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href='/courses/{{this._id}}/edit'
              class='btn btn-primary'
            >Edit</a>
            <a href='/courses/{{this._id}}' class='btn btn-danger'>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>