<div class='mt-4'>
  <table class='table mt-4'>
    <div>
      <h3>Recently Deleted Courses</h3>
    </div>
    <thead>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Course</th>
        <th scope='col'>Video ID</th>
        <th scope='col'>Created At</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}{{! start loop }}
        <tr>
          <th scope='row'>{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.videoId}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a
              href=''
              class='btn btn-secondary btn-restore'
              data-id='{{this._id}}'
            >Restore</a>
            <a
              href=''
              class='btn btn-danger'
              data-toggle='modal'
              data-target='#delete-course-modal'
              {{! Pass id directly to the modal }}
              data-id='{{this._id}}'
            >Delete</a>
          </td>
        </tr>
        {{else}}
        <tr>
          <td colspan="5" class="text-center">
            Trash empty.
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Confirm delete modal }}
<div
  class='modal fade'
  id='delete-course-modal'
  tabindex='-1'
  role='dialog'
  aria-labelledby='#delete-course-modal'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>DELETE!!!</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        You will permanently delete this item. Are you sure you want to continue?
        WARNING: This action cannot be undone!
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-dismiss='modal'
        >Cancel</button>
        <button id='delete-dialog-confirm-btn' type='button'  class='btn btn-danger'>Permanently delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- We do like this to not have multiple forms wraping around
multiple remove buttons --}}
{{!-- Hidden delete form --}}
<form method='POST' name='delete-course-form'></form>
{{!-- Hidden restore form --}}
<form method='POST' name='restore-course-form'></form>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let courseId
    // get delete-course-form DOM object:
    let deleteForm = document.forms['delete-course-form']
    let restoreForm = document.forms['restore-course-form']
    let confirmBtn = $('#delete-dialog-confirm-btn')
    let restoreBtn = $('.btn-restore')

    // Remove btn clicked (show dialog):
    $('#delete-course-modal').on('show.bs.modal', function (event) { 
      var button = $(event.relatedTarget) 
      courseId = button.data('id')
    })

    // Dialog confirm btn clicked:
    confirmBtn.click(function(e) {
      e.preventDefault()
      deleteForm.action = `/courses/${courseId}/force?_method=DELETE`
      deleteForm.submit()
    })

    // Restore btn clicked:
    restoreBtn.click(function(e) {
      e.preventDefault()

      // get restoreBtn using $(this):
      let courseId = $(this).data('id')
      restoreForm.action = `/courses/${courseId}/restore?_method=PATCH`
      restoreForm.submit()
    })
  })
</script>